body {
	margin: 0;
	padding: 0;
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
}

header {
	background-color: #333;
	color: #fff;
	padding: 20px;
	text-align: center;
	font-size: 30px;
}

nav {
	background-color: #f2f2f2;
	border-bottom: 1px solid #ccc;
	padding: 10px;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: #333;
	text-decoration: none;
	font-weight: bold;
	font-size: 20px;
	border-radius: 5px;
	margin-right: 10px;
}

nav a:hover {
	background-color: #ddd;
}

nav a.active {
	background-color: #ddd;
	color: #333;
}

nav a.selected {
	background-color: #333;
	color: #fff;
}

article {
	background-color: #fff;
	margin: 10px;
	padding: 20px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #aaa;
}

article h2 {
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 24px;
}

article p {
	margin-top: 0;
	margin-bottom: 10px;
	line-height: 1.5;
	font-size: 18px;
	text-align: justify;
}

footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}